In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("california_housing_train.csv")

In [3]:
print("First 5:\n",df.head(5),"\n\n\nLast 10:\n",df.tail(10))

First 5:
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0


Last 10:
        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16990    -124.22     41.73                28.0       3003.0           699.0
16991    -124.23     41.75                11.0       3159.0           616.0
16992    -124.23     40.81                52.0       1112.0           209.0
16993    -124.23     40.54                52.0       2694.0           453.0
16994    -124.25     40.28                32.0       1430.0           419.0
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
16990      1530.0       653.0         1.7038             78300.0
16991      1343.0       479.0         2.4805             73200.0
16992       544.0       172.0         3.3462             50800.0
16993      1152.0       435.0         3.0806            106700.0
16994       434.0       187.0         1.9417             76100.0
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

In [4]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
df["total_bedrooms"].value_counts(dropna=True)

total_bedrooms
280.0     48
309.0     44
345.0     43
331.0     43
343.0     43
          ..
1821.0     1
4171.0     1
1508.0     1
1647.0     1
4335.0     1
Name: count, Length: 1848, dtype: int64

In [6]:
len(df["total_bedrooms"].value_counts(dropna=True))

1848

In [7]:
df.loc[:,"total_bedrooms_per_total_rooms"]=df.loc[:,"total_bedrooms"]/df.loc[:,"total_rooms"]

In [8]:
df.loc[(df.loc[:,"median_income"]>5),:]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total_bedrooms_per_total_rooms
32,-115.39,32.76,16.0,1136.0,196.0,481.0,185.0,6.2558,146300.0,0.172535
69,-115.55,32.98,33.0,2266.0,365.0,952.0,360.0,5.4349,143000.0,0.161077
92,-115.57,32.78,20.0,1534.0,235.0,871.0,222.0,6.2715,97200.0,0.153194
98,-115.58,32.78,5.0,2494.0,414.0,1416.0,421.0,5.7843,110100.0,0.165998
100,-115.59,32.79,8.0,2183.0,307.0,1000.0,287.0,6.3814,159900.0,0.140632
...,...,...,...,...,...,...,...,...,...,...
16737,-122.89,38.38,16.0,2017.0,369.0,931.0,336.0,5.7664,267500.0,0.182945
16762,-122.94,38.57,33.0,1530.0,266.0,728.0,250.0,5.1005,266700.0,0.173856
16776,-123.00,38.33,8.0,3223.0,637.0,851.0,418.0,5.6445,364800.0,0.197642
16802,-123.17,39.18,14.0,2240.0,327.0,1030.0,308.0,5.9585,214900.0,0.145982
16899,-124.05,40.94,14.0,1452.0,217.0,516.0,181.0,5.0329,165600.0,0.149449

In [9]:
subset=df.loc[(df.loc[:,"total_rooms"]>10000) & (df.loc[:,"median_house_value"]<150000),:]
print(subset)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
133      -116.06     34.15                15.0      10377.0          2331.0
191      -116.36     33.88                11.0      12557.0          3098.0
198      -116.38     33.73                10.0      11836.0          2405.0
201      -116.39     33.82                15.0      11115.0          2257.0
229      -116.47     33.81                 7.0      10105.0          2481.0
...          ...       ...                 ...          ...             ...
12654    -121.75     38.67                 9.0      12139.0          2640.0
12772    -121.79     36.64                11.0      32627.0          6445.0
13388    -121.94     38.27                35.0      10869.0          2226.0
13707    -122.00     38.25                 7.0      11768.0          1893.0
15436    -122.31     40.55                11.0      13714.0          2302.0

       population  households  median_income  median_house_value  \
133        4507.0      1807.0         2.2466             66800.0
191        2453.0      1232.0         1.7844             78500.0
198        3811.0      1570.0         4.0079            134500.0
201        4122.0      1653.0         2.7219             74400.0
229        6274.0      2095.0         2.4497             90900.0
...           ...         ...            ...                 ...
12654      6837.0      2358.0         3.1250            132500.0
12772     28566.0      6082.0         2.3087            118800.0
13388      9879.0      2152.0         2.5681             81300.0
13707      6657.0      1874.0         4.9222            142900.0
15436      6511.0      2267.0         3.5522            100100.0

       total_bedrooms_per_total_rooms
133                          0.224631
191                          0.246715
198                          0.203194
201                          0.203059
229                          0.245522
...                               ...
12654                        0.217481
12772                        0.197536
13388                        0.204803
13707                        0.160860
15436                        0.167858

[67 rows x 10 columns]

In [10]:
df.to_csv("california_housing_train_modified.csv",index=False)

In [11]:
integers = np.arange(1,21)

In [12]:
integers

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [13]:
even_no=integers[1: : 2]

In [14]:
even_no

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [15]:
rand_array=np.random.randint(10,101,(5,4))

In [16]:
rand_array

array([[33, 61, 66, 76],
       [42, 99, 42, 64],
       [83, 49, 45, 71],
       [79, 34, 60, 60],
       [24, 87, 86, 50]], dtype=int32)

In [17]:
rand_array[:3,:2]

array([[33, 61],
       [42, 99],
       [83, 49]], dtype=int32)

In [18]:
integers.resize(4,5)

In [19]:
integers

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [20]:
integers=integers.flatten()

In [21]:
integers

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [22]:
rand_array2=np.random.randint(10,101,(4,5))

In [23]:
np.matmul(rand_array,rand_array2)

array([[ 8875, 17225, 14019, 17220, 10296],
       [10030, 18020, 15099, 18076,  9603],
       [10826, 16457, 14430, 16706, 11626],
       [ 9945, 15569, 13392, 16108, 11849],
       [ 9016, 18996, 14965, 19618, 11015]], dtype=int32)

In [24]:
array50=np.random.randint(0,101,(50,))
array50

array([ 8, 37, 20,  7, 97, 35, 23, 26, 84, 13, 66, 19, 17, 73, 60, 42, 92,
       76, 49,  5, 42, 82, 72,  7, 76, 52, 54, 55, 13, 27, 20,  4, 19,  3,
       75, 33, 88, 80, 92, 95, 38, 88, 29, 32, 85, 95, 64, 96, 73, 84],
      dtype=int32)

In [25]:
array50[array50>50]

array([97, 84, 66, 73, 60, 92, 76, 82, 72, 76, 52, 54, 55, 75, 88, 80, 92,
       95, 88, 85, 95, 64, 96, 73, 84], dtype=int32)

In [26]:
array50[range(2,50,6)]

array([20, 84, 60, 42, 54, 19, 92, 85], dtype=int32)

In [27]:
array50[[1,5,8,27,39,46]]

array([37, 35, 84, 55, 95, 64], dtype=int32)

In [28]:
rand_array

array([[33, 61, 66, 76],
       [42, 99, 42, 64],
       [83, 49, 45, 71],
       [79, 34, 60, 60],
       [24, 87, 86, 50]], dtype=int32)

In [29]:
rand_array.mean(axis=0)

array([52.2, 66. , 59.8, 64.2])

In [30]:
rand_array.max(axis=0)

array([83, 99, 86, 76], dtype=int32)

In [31]:
rand_array.sum(axis=0)

array([261, 330, 299, 321])

In [32]:
a=1
b=0
while(a<100):
    print(a)
    c=a+b
    b=a
    a=c

1
1
2
3
5
8
13
21
34
55
89

In [33]:
for i in range(1,51):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz

In [34]:
def med(*values):
    lis=list(values)
    lis.sort()
    length=len(lis)
    if length%2==1:
        return lis[(length-1)//2]
    else:
        return (lis[length//2-1]+lis[length//2])/2

In [35]:
med(1,9,8,2,3,4,5)

4

In [36]:
med(1,9,8,2,3,4,5,0)

3.5

In [37]:
def mean(*values):
    length=len(values)
    sum=0
    for i in values:
        sum+=i
    return sum/length

In [38]:
mean(1,9,8,2,3,4,5)

4.571428571428571

In [39]:
def divide_numbers(num1, num2):
    try:
        result = num1 / num2
    except ZeroDivisionError:
        print("Error: Division by zero is not allowed.")
    else:
        return result

In [40]:
divide_numbers(15,3)

5.0

In [41]:
divide_numbers(4,0)

Error: Division by zero is not allowed.

In [42]:
array3d=np.random.randint(1,11,(3,4,5))

In [43]:
array3d

array([[[ 1,  2,  9,  4, 10],
        [ 5,  2,  5,  9, 10],
        [ 5,  2,  9,  3,  1],
        [ 6,  1, 10,  9,  6]],

       [[ 4,  5,  4,  9,  6],
        [ 4,  1,  9,  1,  7],
        [ 4,  3,  6,  5,  6],
        [10,  9,  3,  8,  3]],

       [[10,  3,  2,  3, 10],
        [ 4,  6,  9,  2,  6],
        [ 5,  2,  9,  6, 10],
        [ 2,  2,  6,  2,  1]]], dtype=int32)

In [44]:
array3d=np.swapaxes(array3d, 1, 2)

In [45]:
array3d

array([[[ 1,  5,  5,  6],
        [ 2,  2,  2,  1],
        [ 9,  5,  9, 10],
        [ 4,  9,  3,  9],
        [10, 10,  1,  6]],

       [[ 4,  4,  4, 10],
        [ 5,  1,  3,  9],
        [ 4,  9,  6,  3],
        [ 9,  1,  5,  8],
        [ 6,  7,  6,  3]],

       [[10,  4,  5,  2],
        [ 3,  6,  2,  2],
        [ 2,  9,  9,  6],
        [ 3,  2,  6,  2],
        [10,  6, 10,  1]]], dtype=int32)

In [46]:
array3d.sum(axis=0)

array([[15, 13, 14, 18],
       [10,  9,  7, 12],
       [15, 23, 24, 19],
       [16, 12, 14, 19],
       [26, 23, 17, 10]])

In [47]:
array3d.sum(axis=1)

array([[26, 31, 20, 32],
       [28, 22, 24, 33],
       [28, 27, 32, 13]])

In [48]:
array3d.sum(axis=2)

array([[17,  7, 33, 25, 27],
       [22, 18, 22, 23, 22],
       [21, 13, 26, 13, 27]])

In [49]:
vector=np.random.randint(1,11,(4,))

In [50]:
vector

array([5, 1, 8, 1], dtype=int32)

In [51]:
array3d+=vector

In [52]:
array3d

array([[[ 6,  6, 13,  7],
        [ 7,  3, 10,  2],
        [14,  6, 17, 11],
        [ 9, 10, 11, 10],
        [15, 11,  9,  7]],

       [[ 9,  5, 12, 11],
        [10,  2, 11, 10],
        [ 9, 10, 14,  4],
        [14,  2, 13,  9],
        [11,  8, 14,  4]],

       [[15,  5, 13,  3],
        [ 8,  7, 10,  3],
        [ 7, 10, 17,  7],
        [ 8,  3, 14,  3],
        [15,  7, 18,  2]]], dtype=int32)